<div class="lyrics-block">
    <div class="lyrics-description">
        <div class="header">Лирика</div>
        <div class="text" [innerHTML]="lyricsInfo">
        </div>
        <div class="showText" (click)="showInfo()">
            <div>
                <fa-icon [icon]="faDown"></fa-icon>
            </div>
        </div>
    </div>
    <div class="lyrics-pic" [style.backgroundImage]="lyricsImg"></div>
</div>
<div class="hidden-text" *ngIf="isShowed">
    <div class="song-lyrics">
        <pre>
            <p [innerHTML]="firstLyr"></p>
        </pre>
    </div>
    <div class="song-lyrics">
        <pre>
            <p [innerHTML]="secLyr"></p>
        </pre>
    </div>
    <div class="close" (click)="closeInfo()">
        <fa-icon [icon]="faUp"></fa-icon>
    </div>
</div>