.ganre-bands{
    background-color: #0a0a0a;
    padding: 20px 0;
}
.bands-header{
    font-family: 'Scada';
    font-size: 40px;
    letter-spacing: 0.1em;
    text-transform:uppercase;
    padding-bottom: 20px;
}