<div class="container">
    <div class="informBlock">
      <h2 class="mainHeader" [ngStyle]="{'background-image':'url(/assets/backgrounds/kreatorLine.jpg)'}">Horizontal Card</h2>
      <div class="textBlock">
          <div class = "informText">
            <p>Трэш-метал (thrash — англ. бить, молотить, крошить) — музыкальное направление в метале, давшее начало всем экстремальным его разновидностям. Характеризуется достаточно высокой скоростью исполнения, большей жёсткостью пробивных, быстрых, исполненных в низком диапазоне частот риффов по сравнению с классическим хэви-металом и агрессией вкупе с техничным стилем гитарных соло в высоком диапазоне частот и басово-гитарным тремоло.</p>
            <p>Истоки трэш-метала, по общему мнению, восходят к концу 1970-х годов — началу 1980-х годов, когда некоторые металические группы привнесли экстремальную скорость хардкор-панка в традиционную мелодику и ритмическую структуру метала. Venom и особенно Motörhead обычно рассматриваются в качестве групп, давших толчок развитию трэш-метала. </p>
          </div>
          <div class="informPic"></div>
      </div>
    </div>
  <app-country-tab></app-country-tab>
  <app-description></app-description>
  <app-ganre-album></app-ganre-album>
</div>