<div class="container">
    <div class="informBlock">
    <h2 class="mainHeader">Horizontal Card</h2>
    <div class="card horizontal">
      
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
              I am a very simple card. I am good at containing small bits of information.
              I am a very simple card. I am good at containing small bits of information.
          </p>
        </div>
      </div>
      <div class="card-image">
          <img src="https://lorempixel.com/100/190/nature/6">
        </div>
    </div>
  </div>
    <div>
      <p>hjhjkhjhjhjkfdhjkhkjskkkkkkkkkkkkkkkkkkkkkk</p>
  </div>
  <app-country-tab></app-country-tab>
</div>