.informBlock{
    padding-top: 70px;
}
.mainHeader{
    padding: 25px 0;
    font-family: 'Scada';
    text-align: center;
    background-color: black;
}
/******************************************************/
