<div class="pc-tab">
    <input checked="checked" id="tab1" type="radio" name="pct" />
    <input id="tab2" type="radio" name="pct" />
    <input id="tab3" type="radio" name="pct" />
    <input id="tab4" type="radio" name="pct" />
    <section id="navigation">
        <ul>
            <li class="tab1">
                <label for="tab1" (click)="selectTab(German)" [ngClass]="{'active':isActive(German)}">
                    <p class="icon"></p>
                </label>
            </li>
            <li class="tab2">
                <label for="tab2" (click)="selectTab(Usa)" [ngClass]="{'active':isActive(Usa)}">
                    <p class="icon" [ngStyle]="{'background-image':'url(/assets/myIcons/usa.png)'}"></p>
                </label>
            </li>
            <li class="tab3">
                <label for="tab3" (click)="selectTab(Russia)" [ngClass]="{'active':isActive(Russia)}">
                    <p class="icon" [ngStyle]="{'background-image':'url(/assets/myIcons/russia.png)'}"></p>
                </label>
            </li>
            <li class="tab4">
                <label for="tab4" (click)="selectTab(England)" [ngClass]="{'active':isActive(England)}">
                    <p class="icon" [ngStyle]="{'background-image':'url(/assets/myIcons/britain.png)'}"></p>
                </label>
            </li>
        </ul>
    </section>
    <section>
        <div class="tab1">
            <div class="tableBlock">
                <div>
                    <p class="tabTitle">Немецкие группы</p>
                    <p>111111111someTEXT<br> Donec vulputate ante ac ligula vestibulum, id mollis diam commodo. Integer
                        at consequat magna. Sed elit sem, dictum nec porttitor ac, ultrices id enim. lectus sit amet
                        tellus vehicula faucibus. Etiam sed leo ac erat tempor feugiat at quis ip</p>
                </div>
                <div class="tablePic"></div>
            </div>
        </div>
        <div class="tab2">
            <div class="tableBlock">
                <div>
                    <p class="tabTitle">Американские группы</p>
                    <p>2222221someTEXT<br> Donec vulputate ante ac ligula vestibulum, id mollis diam commodo. Integer at
                        consequat magna. Sed elit sem, dictum nec porttitor ac, ultrices id enim. lectus sit amet tellus
                        vehicula faucibus. Etiam sed leo ac erat tempor feugiat at quis ip</p>
                </div>
                <div class="tablePic"></div>
            </div>
        </div>
        <div class="tab3">
            <div class="tableBlock">
                <div>
                    <p class="tabTitle">Русские группы</p>
                    <p>111111111someTEXT<br> Donec vulputate ante ac ligula vestibulum, id mollis diam commodo. Integer
                        at consequat magna. Sed elit sem, dictum nec porttitor ac, ultrices id enim. lectus sit amet
                        tellus vehicula faucibus. Etiam sed leo ac erat tempor feugiat at quis ip</p>
                </div>
                <div class="tablePic"></div>
            </div>
        </div>
        <div class="tab4">
            <div class="tableBlock">
                <div>
                    <p class="tabTitle">Британские группы</p>
                    <p>4444444someTEXT<br> Donec vulputate ante ac ligula vestibulum, id mollis diam commodo. Integer at
                        consequat magna. Sed elit sem, dictum nec porttitor ac, ultrices id enim. lectus sit amet tellus
                        vehicula faucibus. Etiam sed leo ac erat tempor feugiat at quis ip</p>
                </div>
                <div class="tablePic"></div>
            </div>
        </div>
    </section>
</div>