<div class="container">
    <app-inform-block [header]="header" [mainInfo]="mainInfo" [backgroundImage]="backgroundImage" [mainImg]="mainImg">
    </app-inform-block>
    <app-ganre-clip [videos]="videos" [header]="header"></app-ganre-clip>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="/assets/images/vynil-shop.jpeg">
    </div>
    <a class="waves-effect waves-light btn-large" routerLink="/albums"><i
            class="material-icons left">library_music</i>перейти к
        альбомам</a>
</div>