<div>
    <div class="header">
        Жанры экстремального метала
    </div>
    <table>
        <td>
            <app-navigation-block [navItems]="thrashGanres"></app-navigation-block>
        </td>
        <td>
            <app-navigation-block [navItems]="doomGanres"></app-navigation-block>
        </td>
        <td>
            <app-navigation-block [navItems]="blackGanres"></app-navigation-block>
        </td>
        <td>
            <app-navigation-block [navItems]="deathGanres"></app-navigation-block>
        </td>
    </table>
</div>