<div class="album-block">
    <div class="name">Killing Is My Business… and Business Is Good!</div>
    <div class="picture" [ngStyle]="{'background-image':'url(/assets/images/killing.jpg)'}"></div>
    <div class="description">
        <ul>
            <li>год:</li>
            <li>группа:</li>
            <li>страна:</li>
            <li>участники:</li>
            <li>жанр:</li>
        </ul>
    </div>
    <div class="picture" [ngStyle]="{'background-image':'url(/assets/images/megadeth.jpg)'}"></div>
</div>