<div class="album-block">
    <div class="name">{{album.name}}</div>
    <div class="picture" [style.backgroundImage]="album.coverImg"></div>
    <div class="description">
        <ul>
            <li>год: {{album.year}}</li>
            <li>группа: {{album.band}}</li>
            <li>страна: {{album.country}}</li>
            <li>участники: {{album.members}}</li>
            <li>жанр: <a [routerLink]="album.myLink">{{album.ganre}}</a></li>
        </ul>
    </div>
    <div class="picture" [style.backgroundImage]="album.bandImg"></div>
</div>