.navBlock{
    padding: 20px 10px;
    background-image: url("/assets/backgrounds/thrash.jpg");
    background-position: center;
    opacity: 0.7;
    transition: 0.3s;
    text-shadow: 4px 5px 4px rgba(0, 0, 0, 0.842);
    background-position: center;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: 'Scada';
    font-weight: bold;
    text-align: center;
    margin: 20px;
}
.navBlock:hover{
    opacity: 1;
    transform: scale(1.05);
}
.ganres:first-child{
    transform: scale(1.1);
    margin-bottom: 40px;
    border-left: none;
}
.ganres{
    border-left: solid 2px;
}