.guitar-card{
    width: 500px;
    display: grid;
    grid-template-rows: 3fr 1fr;
}
.myImg{
    background-image: url("/assets/guitars/rr.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #262626;
}
.guitarDescription{
    letter-spacing: 0.05em;
    font-size: 1.2em;
}