.ganre-nav{
    position: fixed;
    color: #D9D9D9;
    top: 100px;
    left: 50px;
    text-shadow: 4px 5px 4px rgba(0, 0, 0, 0.842);
    background-position: center;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: 'Scada';
    font-weight: bold;
    text-align: center;
}
li{
    padding: 10px;
    background-image: url("/assets/backgrounds/thrash.jpg");
    background-position: center;
    opacity: 0.6;
    transition: 0.3s;
}
li:hover{
     opacity: 1;
}