<div class = "offer">
    <div class="main-title">
        <p>Экстремальный метал <br> XX века</p>
        <a href="#info" class='goDown'><fa-icon [icon]="faDown" ></fa-icon></a>
        <div>
            <a href="#" class = 'ButtonLink'>Альбомы <fa-icon [icon]="faRight" ></fa-icon></a>
            <a href="#"  class = 'ButtonLink'>Жанры <fa-icon [icon]="faRight" ></fa-icon></a>
        </div>
    </div>
    <div class="rectangles"></div>
</div>
<div class = "container">
    <div class = "matal-info" id="info">
        <div class="info-title">Экстремальний метал -</div>
        <div class = "info-pic"></div>
        <div class = "info-text">
            <p>музыка, которая быстрее, жёстче, тяжелее или агрессивнее мейнстримного хэви-метала, либо новых ню-метал групп. </p>
            <p>Экстремальные метал группы предпочитают более абразивные музыкальные свойства, такие как высокий ритм, повышенная агрессия и крайняя жёсткость.</p>
        </div>
    </div>
</div>
