<!--<div class="sound-block">
    <div class="sound-pic"></div>
    <div class="sound-description">
        <div class="header">Звучание</div>
        <div class="text"> Характерными чертами трэш-метала являются быстрый, стремительный темп исполнения, скоростные низкочастотные гитарные риффы и высокочастотные соло. Для гитарной ритм-партии применяется palm muting. В качестве штриха используют также переменный штрих, «галоп» и даунстрок.</div>
    </div>
</div>-->
<div id="carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <p>first</p>
            <div class="carousel-caption">
                <h3>First</h3>
            </div>
        </div>
        <div class="carousel-item">
            <p>2</p>
            <div class="carousel-caption">
                <h3>Second</h3>
            </div>
        </div>
        <div class="carousel-item">
            <p>3</p>
            <div class="carousel-caption">
                <h3>Third</h3>
            </div>
        </div>
    </div>
</div>